<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div id="adbox">
					<img src="images/sea-sound.jpg" alt="Img">
					<h1>Enjoy the Summer with Us!</h1>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
					</p>
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>Latest Blog</h3>
								<ul>
									{{#each blogs}}
									<li>
										<h4><a href={{this.link}}>{{this.title}}</a></h4>
										<span>{{this.date}}</span>
										<p>
											{{this.content}}
										</p>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								<h3>Testimonials</h3>
								<p>
									“In hac habitasse platea dictumst. Integer purus justo, egestas eu consectetur eu, cursus in tortor. Quisque nec nunc ac mi ultrices iaculis. Aenean quis elit mauris, nec vestibulum lorem.” <span>- <a href="index.html">Juan De La Cruz</a></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					{{#each sidebarItems}}
					<div class="section">
						<a href={{this.link}}><img src={{this.image}} alt="Img"></a>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>